[submodule "repos/raspberrypi/pico-sdk"]
	path = repos/raspberrypi/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "repos/platformio/platform-raspberrypi"]
	path = repos/platformio/platform-raspberrypi
	url = https://github.com/platformio/platform-raspberrypi
